      <header class="section page-header">
        <!--RD Navbar-->
        <div class="rd-navbar-wrap{% if page.title == "Home" %}{{ " rd-navbar-wrap-absolute" }}{% endif %}">
          <nav class="rd-navbar" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-fixed" data-xl-device-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="46px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
            <div class="rd-navbar-collapse-toggle rd-navbar-fixed-element-1" data-rd-navbar-toggle=".rd-navbar-collapse"><span></span></div>
            <div class="rd-navbar-aside-outer rd-navbar-collapse">
              <div class="rd-navbar-aside">
                <div class="rd-navbar-info">
                  <div class="rd-navbar-info-text">Follow me:</div>
                  <a class="rd-navbar-info-icon link-dark icon mdi mdi-instagram" href="https://www.instagram.com/katja_jasch_paints/"></a>
                  <a class="rd-navbar-info-icon link-dark icon mdi mdi-linkedin" href="https://www.linkedin.com/in/katja-jasch-98b07b57"></a>
                  <a class="rd-navbar-info-icon link-dark icon mdi mdi-twitter" href="https://twitter.com/katjajasch"></a>
                </div>
                <ul class="rd-navbar-contact">
                  <li class="rd-navbar-contact-item">
                    <div class="rd-navbar-contact-icon mdi mdi-email"></div>
                    <a class="rd-navbar-contact-link" href="mailto:info@katjajasch.de">info@katjajasch.de</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="rd-navbar-main-outer">
              <div class="rd-navbar-main">
                <!--RD Navbar Panel-->
                <div class="rd-navbar-panel">
                  <!--RD Navbar Toggle-->
                  <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                  <!--RD Navbar Brand-->
                  <div class="rd-navbar-brand">
                    <!--Brand--><a class="brand" href="index.html"><img class="brand-logo-dark" src="{{ "/assets/images/logo-default-350x70.png" | relative_url }}" alt="" width="175" height="35"/><img class="brand-logo-light" src="{{ "/assets/images/logo-inverse-343x45.png" | relative_url }}" alt="" width="171" height="22"/></a>
                  </div>
                </div>
                <div class="rd-navbar-nav-toggle mdi mdi-menu" data-multitoggle=".rd-navbar-nav-wrap"><span></span></div>
                <div class="rd-navbar-nav-wrap">
                  <div class="rd-navbar-close-toggle mdi mdi-close" data-multitoggle=".rd-navbar-nav-wrap"><span></span></div>
                  <div class="rd-navbar-nav-wrap-inner">
                    <ul class="rd-navbar-nav">
                      <li class="rd-nav-item active"><a class="rd-nav-link" href="index.html">Home</a></li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="about.html">Über mich</a></li>
                      <!-- <li class="rd-nav-item"><a class="rd-nav-link" href="gallery.html">Gallerie</a></li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="contacts.html">Kontakten</a></li> -->
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>