  <head>
    <title>
      {% if page.title == "Home" %}
        {{ site.title }} | {{ site.tagline }}
      {% else %}
        {{ page.title }} | {{ site.title }}
      {% endif %}
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <link rel="icon" href="{{ "/assets/images/favicon.ico" | relative_url }}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css2?family=Oswald:wght@500&amp;family=Roboto:ital,wght@0,300;0,400;0,500;0,900;1,400&amp;display=swap">
    <link rel="stylesheet" href="{{ "/assets/css/bootstrap.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/fonts.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
    <link rel="canonical" href="{{ page.url | replace: 'index.html', '' | absolute_url }}">
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ "/atom.xml" | relative_url }}">
    <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}</style>
  </head>