      <header class="section page-header">
        <!--RD Navbar-->
        <div class="rd-navbar-wrap rd-navbar-wrap-absolute">
          <nav class="rd-navbar" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-fixed" data-xl-device-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="46px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
            <div class="rd-navbar-collapse-toggle rd-navbar-fixed-element-1" data-rd-navbar-toggle=".rd-navbar-collapse"><span></span></div>
            <div class="rd-navbar-aside-outer rd-navbar-collapse">
              <div class="rd-navbar-aside">
                <div class="rd-navbar-info">
                  <div class="rd-navbar-info-text">Follow me:</div>
                  <a class="rd-navbar-info-icon link-dark icon mdi mdi-instagram" href="#"></a>
                  <a class="rd-navbar-info-icon link-dark icon mdi mdi-facebook" href="#"></a>
                  <a class="rd-navbar-info-icon link-dark icon mdi mdi-twitter" href="#"></a>
                </div>
                <ul class="rd-navbar-contact">
                  <li class="rd-navbar-contact-item">
                    <div class="rd-navbar-contact-icon mdi mdi-email"></div>
                    <a class="rd-navbar-contact-link" href="mailto:info@katjajasch.de">info@katjajasch.de</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="rd-navbar-main-outer">
              <div class="rd-navbar-main">
                <!--RD Navbar Panel-->
                <div class="rd-navbar-panel">
                  <!--RD Navbar Toggle-->
                  <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                  <!--RD Navbar Brand-->
                  <div class="rd-navbar-brand">
                    <!--Brand--><a class="brand" href="index.html"><img class="brand-logo-dark" src="{{ "/assets/images/logo-default-350x70.png" | relative_url }}" alt="" width="175" height="35"/><img class="brand-logo-light" src="{{ "/assets/images/logo-inverse-343x45.png" | relative_url }}" alt="" width="171" height="22"/></a>
                  </div>
                </div>
                <div class="rd-navbar-nav-toggle mdi mdi-menu" data-multitoggle=".rd-navbar-nav-wrap"><span></span></div>
                <div class="rd-navbar-nav-wrap">
                  <div class="rd-navbar-close-toggle mdi mdi-close" data-multitoggle=".rd-navbar-nav-wrap"><span></span></div>
                  <div class="rd-navbar-nav-wrap-inner">
                    <ul class="rd-navbar-nav">
                      <li class="rd-nav-item active"><a class="rd-nav-link" href="index.html">Home</a>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="about.html">About</a>
                        <ul class="rd-menu rd-navbar-dropdown">
                          <li class="rd-navbar-back-btn-item">
                            <button class="rd-navbar-back-btn">&lt; Back</button>
                          </li>
                          <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="team.html">Team</a>
                          </li>
                          <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="team-member.html">Team member</a>
                          </li>
                        </ul>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="gallery.html">Gallery</a>
                        <ul class="rd-menu rd-navbar-dropdown">
                          <li class="rd-navbar-back-btn-item">
                            <button class="rd-navbar-back-btn">&lt; Back</button>
                          </li>
                          <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="grid-gallery.html">Grid gallery</a>
                          </li>
                          <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="grid-gallery-2.html">Grid gallery 2</a>
                          </li>
                          <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="masonry-gallery.html">Masonry gallery</a>
                          </li>
                          <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="masonry-gallery-2.html">Masonry gallery 2</a>
                          </li>
                          <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="single-gallery.html">Single gallery</a>
                          </li>
                        </ul>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="#">Pages</a>
                        <ul class="rd-menu rd-navbar-megamenu">
                          <li class="rd-navbar-back-btn-item">
                            <button class="rd-navbar-back-btn">&lt; Back</button>
                          </li>
                          <li class="rd-megamenu-item">
                            <ul class="rd-megamenu-list">
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="events.html">Events</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="single-event.html">Single event</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="news.html">News</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="single-post.html">Single post</a></li>
                            </ul>
                          </li>
                          <li class="rd-megamenu-item">
                            <ul class="rd-megamenu-list">
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="404.html">404</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="503.html">503</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="coming-soon.html">Coming soon</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="privacy-policy.html">Privacy policy</a></li>
                            </ul>
                          </li>
                          <li class="rd-megamenu-item">
                            <ul class="rd-megamenu-list">
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="typography.html">Typography</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="buttons.html">Buttons</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="forms.html">Forms</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="tabs-and-accordions.html">Tabs and accordions</a></li>
                            </ul>
                          </li>
                          <li class="rd-megamenu-item">
                            <ul class="rd-megamenu-list">
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="grid-system.html">Grid system</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="progress-bars.html">Progress bars</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="tables.html">Tables</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="search-results.html">Search results</a></li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="contacts.html">Contacts</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>